<div class="row">
  <div class="col-lg-6 col-md-12">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="new-event-dropdown" ngbDropdownToggle>Добавить мероприятие</button>
          <div ngbDropdownMenu aria-labelledby="new-event-dropdown">
            <button class="dropdown-item" (click)="addEventToAllUsers()">Всем пользователям</button>
            <button class="dropdown-item" (click)="addEventsToAllCurators()">Всем кураторам</button>
            <button class="dropdown-item" (click)="addEventToAllElders()">Всем старшим кураторам</button>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-6">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Поиск">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="form-check">
          <input class="form-check-input" type="radio"  id="gridRadios1" [value]="1" [(ngModel)]="option" >
          <label class="form-check-label" for="gridRadios1">
            Общее расписание
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="gridRadios2" [value]="2" [(ngModel)]="option">
          <label class="form-check-label" for="gridRadios2">
            Расписание факультета
          </label>
        </div>
      </div>

      <div class="col-lg-8 col-md-8">

        <select *ngIf="option == 2 && faculties.length > 0" [(ngModel)]="selectedFaculty" (change)="changeFaculty()" class="form-control">
          <option disabled>Выберите факультет...</option>
          <option  *ngFor="let fac of faculties" [ngValue]="fac">{{fac.name}}</option>
          <!--<option>ИВТФ</option>-->
          <!--<option>ИВТФ</option>-->
          <!--<option>ИВТФ</option>-->
          <!--<option>ИВТФ</option>-->
        </select>
      </div>
    </div>
    <div class="mt-2">
      <div *ngIf="eventsToShow && eventsToShow.length > 0; else elseBlock">
        <app-schedule [events]="eventsToShow"></app-schedule>
      </div>
      <ng-template #elseBlock>
        <div>Мероприятий не найдено</div>
      </ng-template>
    </div>

  </div>
  <div class="col-lg-6 col-md-12">
    <div *ngIf="currentAction == actions.AddEvent">
      <app-add-event [isDeadline]="false" [users]="usersForEvent"
                     (onEventSaved)="currentAction = actions.None"
                     (onEventCanceled)="currentAction = actions.None"></app-add-event>
    </div>
  </div>
</div>

