<div>
  <div class="card" >
    <div class="card-header" [class.bg-warning]="newEvent.isDeadline" [class.text-white]="newEvent.isDeadline">
      <h5>{{newEvent.isDeadline? 'Новый дедлайн' : 'Новое мероприятие'}}</h5>
    </div>
    <div class="card-body" >
      <div class="form-group row">
        <label for="inputName" class="col-lg-3 col-sm-6 col-form-label">
          Название:
        </label>
        <div class="col-lg-9 col-sm-6">
          <input id="inputName" placeholder="Название" [(ngModel)]="newEvent.title" type="text" class="form-control">
        </div>
      </div>

      <div class="row mt-2">
        <div class="col">
          <span>Дата и время {{newEvent.isDeadline? 'дедлайна' : 'мероприятия'}}</span>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-lg-6">
          <ngb-datepicker #dp [(ngModel)]="model" name="date" (navigate)="date = $event.next"></ngb-datepicker>
        </div>
        <div class="col-lg-6">
          <ngb-timepicker [(ngModel)]="time" name="time"></ngb-timepicker>
        </div>
      </div>

      <div class="form-group row mt-2">
        <label for="inputDescription" class="col-lg-3 col-sm-6 col-form-label">
          Описание:
        </label>
        <div class="col-lg-9 col-sm-6">
          <textarea id="inputDescription" placeholder="Описание" [(ngModel)]="newEvent.description" rows="3" class="form-control"></textarea>
        </div>
      </div>

    </div>

    <div class="card-footer">
      <div>
        <button class="btn btn-success" (click)="saveEvent()">Сохранить</button>
        <button class="btn btn-danger" (click)="cancelNewEvent()">Отмена</button>
      </div>
    </div>
  </div>



</div>
