<div class="row">
  <div class="col-lg-2 col-md-2">
    <button class="btn btn-outline-info" type="button">
      Добавить дедлайн
    </button>
  </div>
  <div class="col-lg-4 col-md-4">
    <div class="form-group">
      <input class="form-control" type="text" placeholder="Поиск">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-3 col-md-4">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
      <label class="form-check-label" for="gridRadios1">
        Все кураторы
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
      <label class="form-check-label" for="gridRadios2">
        Некоторые кураторы
      </label>
    </div>
  </div>

  <div class="col-lg-3 col-md-4">

    <select class="custom-select" multiple>
      <option>Максим Андреев</option>
      <option>Антон Максимов</option>
    </select>

  </div>
</div>


<div class="row mt-2">
  <div class="col-lg-6 col-sm-12">
    <app-deadlines></app-deadlines>
  </div>
  <div class="col-lg-6 col-sm-12">
    <app-add-deadline></app-add-deadline>
  </div>
</div>
