
    <div class="card">
      <div class="card-header">
        <h5>Профиль пользователя Косов Родион</h5>
      </div>
      <div class="card-body" >
        <div class="row">
          <div class="col-lg-6 col-sm-6">
            <p class="font-weight-bold">Факультет:</p>
          </div>
          <div class="col-lg-6 col-sm-6">
            <p>ИВТФ</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-sm-6">
            <p class="font-weight-bold">Рейтинг факультета:</p>
          </div>
          <div class="col-lg-6 col-sm-6">
            <p>25</p>
          </div>
        </div>

      </div>

      <!--<div class="card-footer">-->
      <!--<div class="text-center">-->
      <!--<button class="btn btn-primary">Подробный рейтинг</button>-->
      <!--</div>-->
      <!--</div>-->
    </div>

