<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Подтверждение удаления</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Вы действительно хотите удалить элемент "<b>{{feedbackToEdit.feedbackAnswerForm.name}}</b>"?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="c('Close click'); deleteFeedback()">Удалить</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Отмена</button>
  </div>
</ng-template>

<div>
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-lg-9">
          <h5>{{editedFeedback.feedbackAnswerForm.name}}</h5>
        </div>
        <div class="col-lg-1">
          <div *ngIf="readonly && shareService.currentUser.id === editedFeedback.author.id && editedFeedback.mark == 0">
            <button class="btn btn-primary" (click)="toggleEditor()">
              <fa [name]="'edit'" [size]="1"></fa>
            </button>
          </div>
        </div>
        <div class="col-lg-1">
          <div *ngIf="readonly && shareService.currentUser.id === editedFeedback.author.id && editedFeedback.mark == 0">
            <button type="button" class="btn btn-danger" (click)="openModal(content)">
                <fa [name]="'trash'" [size]="1"></fa>
            </button>
          </div>
        </div>
        <div class="col-lg-1">
          <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>

    </div>
    <div class="card-body" >
      <div class="row pb-1">
        <div class="col">
          <h5 class="text-center">Краткие сведения о мероприятии</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 font-weight-bold col-sm-6">
          Название:
        </div>
        <div class="col-lg-8 col-sm-6">
          {{editedFeedback.event.title}}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 font-weight-bold col-sm-6">
          Дата и время:
        </div>
        <div class="col-lg-8 col-sm-6">
          {{editedFeedback.event.date | date:'medium':'':'ru'}}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 font-weight-bold col-sm-6">
          Автор:
        </div>
        <div class="col-lg-8 col-sm-6">
          {{editedFeedback.author.firstName + ' ' + editedFeedback.author.surName}}
        </div>
      </div>

      <hr>

      <div class="row pb-1">
        <div class="col">
          <h5 class="text-center">Отчет</h5>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-4 col-sm-6 font-weight-bold">
          Форма отчета:
        </div>
        <div class="col-lg-8 col-sm-6">
          <div>
            {{editedFeedback.feedbackAnswerForm.name}}
          </div>
          <!--<div *ngIf="!readonly">-->
            <!--<div class="col-lg-8 col-sm-6">-->
              <!--<select [(ngModel)]="usedFeedbackForm" (select)="onFeedbackFormChanged()" (change)="onFeedbackFormChanged()" id="select" class="form-control">-->
                <!--<option *ngFor="let form of feedbackForms" [ngValue]="form">{{form.name}}</option>-->
              <!--</select>-->
            <!--</div>-->
          <!--</div>-->
        </div>
      </div>

      <div class="row" *ngFor="let feedbackAnswer of editedFeedback.feedbackAnswerForm.feedbackAnswers">
        <div class="col form-group">
          <label for="feedback-answer" class="font-weight-bold">{{feedbackAnswer.question}}</label>
          <textarea [readonly]="readonly" [(ngModel)]="feedbackAnswer.answer" class="form-control" id="feedback-answer" rows="3"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 font-weight-bold col-sm-6">
          Оценка:
        </div>
        <div class="col-lg-8 col-sm-6">
          <ngb-rating [(rate)]="editedFeedback.mark" (rateChange)="addMark()" [readonly]="shareService.currentUser.id == editedFeedback.author.id || shareService.currentUser.role.name == 'Куратор'"></ngb-rating>
        </div>
      </div>


    </div>

    <div class="card-footer">
      <div *ngIf="!readonly">
        <button class="btn btn-success" (click)="updateFeedback()">Сохранить</button>
        <button class="btn btn-danger">Отмена</button>
      </div>
    </div>
  </div>



</div>
