<div>
  <div class="card">
    <div class="card-header">
      <h5>Новый отчет</h5>
    </div>
    <div class="card-body" >
      <div class="row pb-1">
        <div class="col">
          <h5 class="text-center">Краткие сведения о мероприятии</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 font-weight-bold col-sm-6">
          Название:
        </div>
        <div class="col-lg-8 col-sm-6">
          {{eventForFeedback.title}}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 font-weight-bold col-sm-6">
          Дата и время:
        </div>
        <div class="col-lg-8 col-sm-6">
          {{eventForFeedback.date | date:'medium':'':'ru'}}
        </div>
      </div>

      <hr>

      <div class="row pb-1">
        <div class="col">
          <h5 class="text-center">Отчет</h5>
        </div>
      </div>

      <div class="form-group row">
        <label for="select" class="col-lg-4 col-sm-6 col-form-label">
          Форма отчета:
        </label>
        <div class="col-lg-8 col-sm-6">
          <select [(ngModel)]="feedbackForm" (change)="onFeedbackFormChanged()" id="select" class="form-control">
            <option *ngFor="let form of mockFeedbackForms" [ngValue]="form">{{form.name}}</option>
          </select>
        </div>
      </div>

      <div class="row" *ngFor="let feedbackAnswer of feedbackAnswerForm.feedbackAnswers">
        <div class="col form-group">
          <label for="feedback-answer">{{feedbackAnswer.question}}</label>
          <textarea class="form-control" [(ngModel)]="feedbackAnswer.answer" id="feedback-answer" rows="3"></textarea>
        </div>
      </div>

    </div>

    <div class="card-footer">
      <div>
        <button class="btn btn-success" (click)="saveFeedback()">Сохранить</button>
        <button class="btn btn-danger">Отмена</button>
      </div>
    </div>
  </div>



</div>
