<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div *ngIf="!event.isDeadline">
      <h4 class="modal-title">Подтверждение удаления</h4>
    </div>
    <div *ngIf="event.isDeadline">
      <h4 class="modal-title">Подтверждение выполнения</h4>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="!event.isDeadline">
      <p>Вы действительно хотите удалить элемент "<b>{{event.title}}</b>"?</p>
    </div>
    <div *ngIf="event.isDeadline">
      <p>Вы действительно выполнили дедлайн "<b>{{event.title}}</b>"?</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="c('Close click'); deleteEvent()">Подтвердить</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Отмена</button>
  </div>
</ng-template>

<div class="card" >
  <div class="card-header" id="headingOne" [class.bg-warning]="event.isDeadline" [class.bg-danger]="isOverdued" [class.text-white]="event.isDeadline || isOverdued">
    <div class="row mb-0" (click)="isCollapsed1=!isCollapsed1" aria-controls="collapseOne" [attr.aria-expanded]="!isCollapsed1">
      <div class="col-lg-3">
        {{event.date | date:'medium':'':'ru'}}
      </div>
      <div class="col-lg-6">{{event.title}}</div>
      <div class="col-lg-3">Автор: {{event.author.firstName + ' ' + event.author.surName}}</div>
    </div>
    <!--<h5 class="mb-0">-->
    <!--<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">-->
    <!--Collapsible Group Item #1-->
    <!--</button>-->
    <!--</h5>-->
  </div>

  <div id="collapseOne" class="collapse" [ngbCollapse]="isCollapsed1" aria-labelledby="headingOne" data-parent="#accordion">
    <div class="card-body">
      {{event.description}}

    </div>
    <div class="card-footer">
      <div *ngIf="!event.isDeadline" class="row">
        <div class="col-lg-4 col-md-4" *ngIf="shareService.currentUser.role.name == 'Куратор'">
          <button class="btn btn-outline-primary" (click)="addFeedback()">Добавить отчет</button>
        </div>
        <div *ngIf="event.author.id == shareService.currentUser.id" class="col-lg-4 col-md-4">
          <button class="btn btn-outline-warning" (click)="editEvent()">Изменить</button>
        </div>
        <div *ngIf="event.author.id == shareService.currentUser.id"  class="col-lg-4 col-md-4">
          <button class="btn btn-outline-danger" (click)="openModal(content)">Удалить</button>
        </div>
      </div>
      <div *ngIf="event.isDeadline" class="row">
        <div class="col-lg-4">
          <button class="btn btn-outline-primary" (click)="openModal(content)">Завершить</button>
        </div>
      </div>
    </div>
  </div>
</div>



