<div class="row mb-2">
  <div class="col">
    <button class="btn btn-outline-info" type="button">
      Добавить дедлайн
    </button>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-sm-12">
    <div id="accordion">
      <div class="card bg-warning text-white">
        <div class="card-header" id="headingOne">
          <div class="row mb-0" (click)="isCollapsed1=!isCollapsed1" aria-controls="collapseOne" [attr.aria-expanded]="!isCollapsed1">
            <div class="col-lg-3">
              26 марта в 21:00
            </div>
            <div class="col-lg-9">Написать отчет о прошедшем кч</div>
          </div>
          <!--<h5 class="mb-0">-->
          <!--<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">-->
          <!--Collapsible Group Item #1-->
          <!--</button>-->
          <!--</h5>-->
        </div>

        <div id="collapseOne" class="collapse" [ngbCollapse]="isCollapsed1" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body bg-white text-secondary">
            Форма отчета №1.

          </div>
          <div class="card-footer bg-light">
            <div class="text-center ">
              <button class="btn btn-success">Пометить выполненным</button>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header bg-warning text-white" id="headingTwo">
          <div class="row mb-0" (click)="isCollapsed2=!isCollapsed2" aria-controls="collapseOne" [attr.aria-expanded]="!isCollapsed2">
            <div class="col-lg-3">
              30 марта в 20:30
            </div>
            <div class="col-lg-9">Скинуть расписание своему старшему куратору</div>
          </div>
          <!--<h5 class="mb-0">-->
          <!--<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">-->
          <!--Collapsible Group Item #1-->
          <!--</button>-->
          <!--</h5>-->
        </div>

        <div id="collapseTwo" class="collapse" [ngbCollapse]="isCollapsed2" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body bg-white text-secondary">
            Пример оформления указан в группе.

          </div>
          <div class="card-footer bg-light">
            <div class="text-center ">
              <button class="btn btn-success">Пометить выполненным</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="col-lg-6 col-sm-12">

  </div>
</div>
