<form>
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-lg-8">
          <h5>Отчет о КЧ №1</h5>
        </div>
        <div class="col-lg-3">
          <button class="btn btn-outline-primary">
            Редактировать
          </button>
        </div>
        <div class="col-lg-1">
          <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>

    </div>
    <div class="card-body" >
      <div class="row pb-1">
        <div class="col">
          <h5 class="text-center">Краткие сведения о мероприятии</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 font-weight-bold col-sm-6">
          Название:
        </div>
        <div class="col-lg-8 col-sm-6">
          Провести кураторский час с группой 1-41
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 font-weight-bold col-sm-6">
          Дата и время:
        </div>
        <div class="col-lg-8 col-sm-6">
          25 марта в 14:00
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 font-weight-bold col-sm-6">
          Автор:
        </div>
        <div class="col-lg-8 col-sm-6">
          Косов Родион
        </div>
      </div>

      <hr>

      <div class="row pb-1">
        <div class="col">
          <h5 class="text-center">Отчет</h5>
        </div>
      </div>

      <div class="form-group row">
        <label for="select" class="col-lg-4 col-sm-6 col-form-label">
          Форма отчета:
        </label>
        <div class="col-lg-8 col-sm-6">
          <select id="select" readonly="true" class="form-control">
            <option>Отчет о 1 кч</option>
            <option>Отчет о 2 кч</option>
            <option>...</option>
          </select>
        </div>
      </div>

      <div class="row" *ngFor="let question of questions">
        <div class="col form-group">
          <label for="feedback-answer">{{question}}</label>
          <textarea readonly="true" class="form-control" id="feedback-answer" rows="3">awfawfawfwaf</textarea>
        </div>
      </div>

    </div>

    <div class="card-footer">
      <div>
        <button class="btn btn-success">Сохранить</button>
        <button class="btn btn-danger">Отмена</button>
      </div>
    </div>
  </div>



</form>
