<div class="row">
  <div class="col-lg-6 col-md-12">
    <!--<div class="row">-->
    <!--<div class="col-lg-4 col-md-4">-->
    <!--<button class="btn btn-outline-secondary" type="button">-->
    <!--Добавить отчет-->
    <!--</button>-->
    <!--</div>-->
    <!--<div class="col-lg-8 col-md-8">-->
    <!--<div class="form-group">-->
    <!--<input class="form-control" type="text" placeholder="Поиск">-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <div class="mt-2">
      <app-all-feedbacks></app-all-feedbacks>
    </div>

  </div>

  <div class="col-lg-6 col-md-12">
    <app-edit-feedback></app-edit-feedback>
  </div>

</div>


