<div class="row">
  <div class="col-lg-6 col-md-12">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <button class="btn btn-outline-info" type="button" (click)="currentAction = actions.AddEvent">
          Добавить мероприятие
        </button>
      </div>
      <div class="col-lg-8 col-md-8">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Поиск">
        </div>
      </div>
    </div>

    <div class="mt-2">
      <app-schedule [events]="curatorEvents"></app-schedule>
    </div>

  </div>
  <div class="col-lg-6 col-md-12">
    <div *ngIf="currentAction == actions.AddEvent">
      <app-add-event [users]="usersForEvent" (onEventSaved)="saveEvent($event)" (onEventCanceled)="isAddingEvent=false" ></app-add-event>
    </div>

    <div *ngIf="currentAction == actions.AddFeedback">
      <app-add-feedback [eventForFeedback]="eventForFeedback" ></app-add-feedback>
    </div>

    <div *ngIf="currentAction == actions.EditEvent">
      <app-edit-event [editEvent]="eventForEditing"></app-edit-event>
    </div>

  </div>
</div>
