<div class="card">
  <div class="card-header">
    <h5>Профиль факультета {{faculty.name}}</h5>
  </div>
  <div class="card-body" >
    <div class="row">
      <div class="col">
        <h5 class="text-center">Рейтинг</h5>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-6 col-sm-6">
        <p class="font-weight-bold">Общий рейтинг:</p>
      </div>
      <div class="col-lg-6 col-sm-6">
        <p>{{faculty.mark}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-sm-6">
        <p class="font-weight-bold">Позиция в рейтинге:</p>
      </div>
      <div class="col-lg-6 col-sm-6">
        <p>TODO</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-sm-6">
        <p class="font-weight-bold">Средний рейтинг кураторов:</p>
      </div>
      <div class="col-lg-6 col-sm-6">
        <p>TODO</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h5 class="text-center">Отчетность</h5>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-6 col-sm-6">
        <p class="font-weight-bold">Всего отчетов написано:</p>
      </div>
      <div class="col-lg-6 col-sm-6">
        <p>TODO</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-sm-6">
        <p class="font-weight-bold">Из них задержано:</p>
      </div>
      <div class="col-lg-6 col-sm-6">
        <p>TODO</p>
      </div>
    </div>
  </div>
</div>
