<div class="row">
  <div class="col-lg-2 col-md-2">
    <button class="btn btn-outline-info" type="button">
      Добавить отчет
    </button>
  </div>
  <div class="col-lg-4 col-md-4">
    <div class="form-group">
      <input class="form-control" type="text" placeholder="Поиск">
    </div>
  </div>
</div>
<div class="row mt-2">
  <div class="col-lg-6 col-sm-12">

    <div id="accordion">
      <div class="card">
        <div class="card-header bg-info">
          <div class="row mb-0">
            <div class="col-lg-3">
              25 марта в 14:00
            </div>
            <div class="col-lg-7">Провести кураторский час с группой 1-41</div>
            <div class="col-lg-2">
              <button class="btn btn-outline-light">Отчет</button>
            </div>

          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header bg-info" >
          <div class="row mb-0">
            <div class="col-lg-3">
              28 марта в 19:20
            </div>
            <div class="col-lg-7">Планерка факультета</div>
            <div class="col-lg-2">
              <button class="btn btn-outline-light">Отчет</button>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="col-lg-6 col-sm-12">
    <app-edit-feedback></app-edit-feedback>
  </div>
</div>

