<form>
  <div class="card">
    <div class="card-header">
      <h5>Новая форма отчета</h5>
    </div>
    <div class="card-body" >
      <div class="form-group row">
        <label for="inputName" class="col-lg-3 col-sm-6 col-form-label">
          Название:
        </label>
        <div class="col-lg-9 col-sm-6">
          <input id="inputName" placeholder="Название" type="text" class="form-control">
        </div>
      </div>

      <div class="row mt-2">
        <div class="col text-center">
          <h5>Список вопросов</h5>
        </div>
      </div>

      <div class="form-group row">
        <div class="col">
          <input id="inputName1" placeholder="Введите текст вопроса" type="text" class="form-control">
        </div>
      </div>

      <div class="form-group row">
        <div class="col">
          <input id="inputName2" placeholder="Введите текст вопроса" type="text" class="form-control">
        </div>
      </div>

      <div class="form-group row">
        <div class="col">
          <input id="inputName3" placeholder="Введите текст вопроса" type="text" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-outline-info">Добавить вопрос</button>
        </div>
      </div>

    </div>

    <div class="card-footer">
      <div>
        <button class="btn btn-success">Сохранить</button>
        <button class="btn btn-danger">Отмена</button>
      </div>
    </div>
  </div>



</form>
