
    <div class="card">
      <div class="card-header">
        <h5>Профиль пользователя {{shareService.currentUser.firstName + ' ' + shareService.currentUser.surName}}</h5>
      </div>
      <div class="card-body" >
        <div class="row">
          <div class="col">
            <h5 class="text-center">Общая информация</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-sm-6">
            <p class="font-weight-bold">Факультет:</p>
          </div>
          <div class="col-lg-6 col-sm-6">
            <p>{{shareService.currentCurator.faculty.name}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-sm-6">
            <p class="font-weight-bold">Курируемые группы:</p>
          </div>
          <div class="col-lg-6 col-sm-6">
            <p>{{shareService.currentCurator.curatedGroups}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <h5 class="text-center">Рейтинг</h5>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-sm-6">
            <p class="font-weight-bold">Личный:</p>
          </div>
          <div class="col-lg-6 col-sm-6">
            <p>{{shareService.currentCurator.mark}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-sm-6">
            <p class="font-weight-bold">Факультетский:</p>
          </div>
          <div class="col-lg-6 col-sm-6">
            <p>{{shareService.currentCurator.faculty.mark}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <h5 class="text-center">Отчеты</h5>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-sm-6">
            <p class="font-weight-bold">Всего написано:</p>
          </div>
          <div class="col-lg-6 col-sm-6">
            <p>3</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-sm-6">
            <p class="font-weight-bold">Из них задержано:</p>
          </div>
          <div class="col-lg-6 col-sm-6">
            <p>0</p>
          </div>
        </div>

      </div>

      <!--<div class="card-footer">-->
      <!--<div class="text-center">-->
      <!--<button class="btn btn-primary">Подробный рейтинг</button>-->
      <!--</div>-->
      <!--</div>-->
    </div>
